<!-- <div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>Exemplo de componentes</h2>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Operação realizada com sucesso</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5">
   <div class="col">
      <h2>Cadastro</h2>
      <form>
        <div class="form-group">
          <label>Texto</label>
          <input type="text" class="form-control" placeholder="Placeholder campo texto">
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">Checkbox</label>
        </div>
        <div class="form-group">
          <label>Textarea</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-default ml-2">Cancelar</button>
      </form>
    </div>

    <h2>Listagem</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->


<router-outlet></router-outlet>
