<div *ngIf="isSuccess" class="alert  text-center alert-success alert-dismissible fade show" role="alert">
  <strong>Operação realizada com sucesso!</strong>
</div>

<div class="container mt-3">
  <div class="row mt-5">
    <h1>Veiculos | Editar</h1>
   <form #form="ngForm" [formGroup]="editarForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <input type="hidden"  formControlName='id'>
       <div class="form-group">
         <label>Placa</label>
         <input type="text" formControlName="placa" maxlength="7" class="form-control">
         <app-message-validation *ngIf="form.submitted &&  editarForm.get('placa')?.hasError('required')">Campo obrigatório.</app-message-validation>
         <app-message-validation *ngIf="form.submitted &&  editarForm.get('placa')?.hasError('isInvalidBrazilPlate')">Placa inválida.</app-message-validation>
       </div>
       <div class="form-group">
        <label>Modelo</label>
        <input type="text" formControlName="modelo" class="form-control">
        <app-message-validation *ngIf="form.submitted &&  editarForm.get('modelo')?.hasError('required')">Campo obrigatório.</app-message-validation>
      </div>
      <div class="form-group">
        <label>Marca</label>
        <input type="text" formControlName="marca" class="form-control">
        <app-message-validation *ngIf="form.submitted &&  editarForm.get('marca')?.hasError('required')">Campo obrigatório.</app-message-validation>
      </div>
      <div class="form-group">
        <label>Cor</label>
        <input type="text" formControlName="cor" class="form-control">
        <app-message-validation *ngIf="form.submitted &&  editarForm.get('cor')?.hasError('required')">Campo obrigatório.</app-message-validation>
      </div>
      <div class="form-group">
        <label>Ano de Fabricação</label>
        <input type="text" formControlName="anoFabricacao" class="form-control" maxlength="4">
        <app-message-validation *ngIf="form.submitted &&  editarForm.get('anoFabricacao')?.hasError('required')">Campo obrigatório.</app-message-validation>
        <app-message-validation *ngIf="form.submitted &&  editarForm.get('anoFabricacao')?.hasError('isInvalidNumber')">Informe somente números.</app-message-validation>
      </div>
      <div class="mt-4">
        <button type="submit" appLoaderButton buttonText='Salvar' [isLoading]=isProcessing class="btn btn-primary">Salvar</button>
      </div>

     </form>

    </div>
  </div>

