<div class="container mt-3">
<div class="row mt-5">
  <div class="col">
     <h1>Condutores</h1>

     <a routerLink='cadastrar' class="btn btn-primary" style="margin: 20px 0;">Cadastrar</a>

     <ng-container *ngIf='($condutores | async) as condutores; else loading'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let condutor of condutores'>
            <td>{{ condutor.nome }}</td>
            <td>{{ condutor.cpf }}</td>
            <td>{{ condutor.email }}</td>
            <td>{{ condutor.telefone }}</td>
            <td>
              <a [routerLink]="['/painel/condutores/'+ condutor.id + '/editar']" class="btn btn-primary" style="margin-right: 30px;">Editar</a>

              <!---TODO: Aplicar um modal de confirmação-->
              <a class="btn btn-danger" (click)="onRemoveItem(condutor.id)">Excluir</a>
             </td>
          </tr>
        </tbody>
      </table>
     </ng-container>

    <ng-template #loading>
      <p>Carregando...</p>
    </ng-template>

   </div>
 </div>
</div>
