<div class="container mt-3">
<div class="row mt-5">
  <div class="col">
     <h1>Veiculos</h1>

     <a routerLink='cadastrar' class="btn btn-primary" style="margin: 20px 0;">Cadastrar</a>

     <ng-container *ngIf='($veiculos | async) as veiculos; else loading'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Placa</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Cor</th>
            <th scope="col">Ano de Fabricação</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let veiculo of veiculos'>
            <td>{{ veiculo.placa }}</td>
            <td>{{ veiculo.modelo }}</td>
            <td>{{ veiculo.marca }}</td>
            <td>{{ veiculo.cor }}</td>
            <td>{{ veiculo.anoFabricacao }}</td>
            <td>
              <a [routerLink]="['/painel/veiculos/'+ veiculo.id + '/editar']" class="btn btn-primary" style="margin-right: 30px;">Editar</a>

              <!---TODO: Aplicar um modal de confirmação-->
              <a class="btn btn-danger" (click)="onRemoveItem(veiculo.id)">Excluir</a>
             </td>
          </tr>
        </tbody>
      </table>
     </ng-container>

    <ng-template #loading>
      <p>Carregando...</p>
    </ng-template>

   </div>
 </div>
</div>
