<div class="div-center">
  <div class="content">
    <h3>Login</h3>
    <hr>
    <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div *ngIf='isInvalidUser' class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Usuário não encontrado.</strong>
      </div>

      <div class="form-group">
        <label for="imputEmail">E-mail</label>
        <input type="email" formControlName="email" class="form-control" id="imputEmail" maxlength="255">
        <app-message-validation *ngIf="form.submitted &&  loginForm.get('email')?.hasError('required')">Campo obrigatório.</app-message-validation>
        <app-message-validation *ngIf="form.submitted &&  loginForm.get('email')?.hasError('isInvalidEmail')">E-mail inválido.</app-message-validation>
      </div>
      <div class="form-group mt-2">
        <label for="inputPassword">Senha</label>
        <input type="password" formControlName="password" class="form-control" id="inputPassword" autocomplete="new-password" maxlength="255">
        <app-message-validation *ngIf="form.submitted &&  loginForm.get('password')?.hasError('required')">Campo obrigatório.</app-message-validation>
      </div>
      <hr>
      <button type="submit" appLoaderButton buttonText='Login' [isLoading]= isProcessing class="btn btn-primary"></button>
    </form>
  </div>
</div>
