  <div *ngIf="isSuccess" class="alert  text-center alert-success alert-dismissible fade show" role="alert">
    <strong>Operação realizada com sucesso!</strong>
  </div>


  <div class="container mt-3">
    <div class="row mt-5">
      <h1>Condutores | Cadastrar</h1>
     <form #form="ngForm" [formGroup]="cadastrarForm" (ngSubmit)="onSubmit()" autocomplete="off">
         <div class="form-group">
           <label>Nome</label>
           <input type="text" formControlName="nome" class="form-control">
           <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('nome')?.hasError('required')">Campo obrigatório.</app-message-validation>
         </div>
         <div class="form-group">
          <label>CPF</label>


          <input type="text" formControlName="cpf"  mask="000.000.000-00" class="form-control">
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('cpf')?.hasError('required')">Campo obrigatório.</app-message-validation>
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('cpf')?.hasError('isInvalidCPF')">CPF inválido.</app-message-validation>
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input type="text" formControlName="email" class="form-control">
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('email')?.hasError('required')">Campo obrigatório.</app-message-validation>
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('email')?.hasError('isInvalidEmail')">E-mail inválido.</app-message-validation>
        </div>
        <div class="form-group">
          <label>Telefone</label>
          <input type="text" formControlName="telefone" mask="(00) 00000-0000" class="form-control">
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('telefone')?.hasError('required')">Campo obrigatório.</app-message-validation>
        </div>
        <div class="form-group">
          <label>Número CNH</label>
          <input type="text" formControlName="numeroCNH" class="form-control" maxlength="11">
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('numeroCNH')?.hasError('required')">Campo obrigatório.</app-message-validation>
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('numeroCNH')?.hasError('minlength')">Formato inválido.</app-message-validation>
        </div>
        <div class="form-group">
          <label>Data de aniversário</label>
          <input type="text" formControlName="dataNascimento" mask="d0/M0/0000" [dropSpecialCharacters]=false    class="form-control">
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('dataNascimento')?.hasError('required')">Campo obrigatório.</app-message-validation>
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('dataNascimento')?.hasError('isInvalidDate')">Data inválida.</app-message-validation>
          <app-message-validation *ngIf="form.submitted &&  cadastrarForm.get('dataNascimento')?.hasError('isUnder18Years')">Precisa ser maior de idade.</app-message-validation>
        </div>
        <div class="mt-4">
          <button type="submit" appLoaderButton buttonText='Salvar' [isLoading]=isProcessing class="btn btn-primary">Salvar</button>
        </div>

       </form>

      </div>
    </div>

