<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink='condutores' class="nav-link px-2 text-white">Condutor</a></li>
        <li><a routerLink='veiculos' class="nav-link px-2 text-white">Veículo</a></li>
      </ul>
      <div class="text-end">
        <span>Seja bem vindo</span>
        <div class="mt-2">
          <button class="btn btn-danger" (click)="onLogout()">Sair</button>
        </div>

      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
